sudo: false

language: scala

script:
  - sbt scalafmtSbtCheck
  - sbt scalafmtCheck
  - sbt scripted
  - sbt doc

jdk:
  - openjdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete
