name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        javaversion: ["8", "11", "17"]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.javaversion }}
          cache: "sbt"
      - name: Formatting
        run: sbt scalafmtSbtCheck scalafmtCheck
      - name: Scripted tests
        run: sbt scripted
      - name: Test generate documentation
        run: sbt doc
  ci:
    runs-on: ubuntu-20.04
    needs: [ build ]
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
